.container {
    display: flex;
    margin-top: 5rem;
  }
  
  .socials {
    flex-basis: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 2%;
    border-radius: 0.4rem;
  }
  
  .socials h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: #016b44;
    text-shadow: 0.2rem 0.2rem 0px #fff;
    padding-left: 1rem;
  }
  
  .socials a {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px #016b44;
    transform: translateY(0);
    padding: 1rem;
    border-radius: 0.4rem;
  }
  
  .socials a:hover {
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transform: translateY(-0.5rem);
  }
  
  .socials img {
    width: 2.4rem;
    margin-right: 1rem;
  }
  
  .form-container {
    flex-basis: 50%;
    background-color: #fff;
    padding: 4%;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    margin-right: 3rem;
  }
  
  .form-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: #016b44;
    text-shadow: 0.2rem 0.2rem 0px #fff;
  }
  
  form label {
    display: block;
    margin-bottom: 2rem;
    color: #000;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 1.5%;
    border: none;
    border-radius: 0.4rem;
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-top: 1rem;
    box-sizing: border-box;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 0.5rem #016b44;
  }
  
  form button[type="submit"] {
    display: block;
    margin-top: 2rem;
    background-color: #016b44;
    color: #fff;
    border: none;
    padding: 1.5% 3%;
    border-radius: 0.4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #025d3e;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      margin-top: 2rem;
      align-items: center;
      padding: 0 1em;
    }
  
    .socials,
    .form-container {
      flex-basis: 100%;
      padding: 2%;
      margin-right: 0;
      margin-bottom: 2rem;
      width: 100%;
      box-sizing: border-box;
    }
  
    .form-container {
      box-shadow: none;
      padding: 2%;
      margin: 1em 0;
    }
  
    .socials a {
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
  
    .socials img {
      width: 2rem;
    }
  
    form input[type="text"],
    form input[type="email"],
    form textarea {
      font-size: 1.2rem;
    }
  
    form button[type="submit"] {
      font-size: 1.2rem;
      padding: 1% 2%;
    }
  }