<div class="menu-container">
    <a routerLink="/about" class="menu-link" (mouseover)="setActiveLink(1)">
        <h1>About</h1>
        <p>Learn about me and my background.</p>
    </a>
    <a routerLink="/projects" class="menu-link" (mouseover)="setActiveLink(2)">
        <h1>Projects</h1>
        <p>Check out some of my recent projects</p>
    </a>
    <a routerLink="/contact" class="menu-link" (mouseover)="setActiveLink(3)">
        <h1>Contact</h1>
        <p>Get in touch with me</p>
    </a>
</div>
